
#mot { 
    height: 200px;
display: flex;
    background-color: rgb(247, 132, 1);

}
#hai{
    height: 400px;
    background-color: rgb(255, 217, 0);
}
#ba{
    display: flex;
    background-color: blue;
}
#bon{
height: 200px;
    
    background-color: cadetblue;
}